.admin-article-item {
  padding: 10px 0;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .category-link {
    color: #888;
  }

  .time {
    font-size: 12px;
    color: #666;
  }

  .peek {
    font-size: 12px;
    margin-top: 5px;
    color: #666;
  }
}
