@mixin home {
  .category-logo {
    background-color: #333 !important;

    &:hover{
      background-color: #383838 !important;
    }
  }

  .home-moments {
    .home-moment {
      background-color: #333;
    }
  }
}
