$THRESHOLD: 700;
$THRESHOLD-CSS: 700px;

$DARK-BG: #222;
$DARK-TEXT-COLOR: #ddd;

$LIGHT-BG: #fff;
$LIGHT-TEXT-COLOR: #000;

:export {
  THRESHOLD: $THRESHOLD;
  DARK_BG: $DARK-BG;
  DARK_TEXT_COLOR: $DARK-TEXT-COLOR;
  LIGHT_BG: $LIGHT-BG;
  LIGHT_TEXT_COLOR: $LIGHT-TEXT-COLOR;
}
