.announcement {
  padding: 10px;
  //border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .content {
    //width: calc(100% - 24px);
    line-height: 20px;
  }

  .svg-container {
    width: 14px;
    height: 14px;
    margin: 3px 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.14s;
    margin-left: 10px;

    svg {
      height: 12px;
    }
  }
}

.default {
  border: 1px solid rgb(134, 217, 133);
  background-color: rgb(198, 239, 205);
  color: rgb(34, 117, 33);

  .content {
    &::before {
      content: '💡';
      margin-right: 10px;
    }
  }

  .svg-container {
    background-color: rgb(198, 239, 205);

    &:hover {
      background-color: rgba(34, 117, 33, 0.6) !important;
      color: rgb(198, 239, 205);
    }
  }
}

.default-dark {
  border: 1px solid rgb(34, 117, 33);
  background-color: rgb(34, 58, 33);
  color: rgb(198, 239, 205);

  .content {
    &::before {
      content: '💡';
      margin-right: 10px;
    }
  }

  .svg-container {
    &:hover {
      background-color: rgb(34, 117, 33) !important;
      color: rgb(198, 239, 205);
    }
  }
}

.warn {
  border: 1px solid rgb(255, 189, 102);
  background-color: rgb(255, 235, 156);
  color: rgb(158, 89, 2);

  .content {
    &::before {
      content: '⚠️';
      margin-right: 10px;
    }
  }

  .svg-container {
    background-color: inherit;

    &:hover {
      background-color: rgba(158, 89, 2, 0.6) !important;
      color: rgb(255, 235, 156);
    }
  }
}

.warn-dark {
  border: 1px solid rgb(158, 129, 2);
  background-color: rgb(105, 85, 26);
  color: rgb(255, 235, 156);

  .content {
    &::before {
      content: '⚠️';
      margin-right: 10px;
    }
  }

  .svg-container {
    &:hover {
      background-color: rgb(158, 129, 2) !important;
      color: rgb(255, 235, 156);
    }
  }
}

.alert {
  border: 1px solid rgb(255, 134, 137);
  background-color: rgb(254, 199, 206);
  color: rgb(170, 34, 37);

  .content {
    &::before {
      content: '🔔';
      margin-right: 10px;
    }
  }

  .svg-container {
    background-color: inherit;

    &:hover {
      background-color: rgba(170, 34, 37, 0.6) !important;
      color: rgb(254, 199, 206);
    }
  }
}

.alert-dark {
  border: 1px solid rgb(160, 34, 37);
  background-color: rgb(100, 34, 37);
  color: rgb(254, 199, 206);

  .content {
    &::before {
      content: '🔔️';
      margin-right: 10px;
    }
  }

  .svg-container {
    &:hover {
      background-color: rgb(144, 89, 96) !important;
      color: rgb(254, 199, 206);
    }
  }
}

