.article-item {
  padding: 10px 0;
  margin-bottom: 20px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .category-link {
    color: #888;
  }

  .new-tag {
    font-weight: bold;
    padding: 2px 3px;
    font-size: 8px;
    margin-right: 20px;
    color: #fff;
    background-color: red;
    border-radius: 2px;
  }

  .time {
    font-size: 12px;
    color: #666;
  }

  .peek {
    font-size: 12px;
    margin-top: 5px;
    color: #666;
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
