.moment {
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #e4e4e4;
  font-size: 14px;

  &:nth-child(1) {
    padding-top: 0;
  }

  .moment-date {
    font-size: 12px;
  }

  .moment-tags {
    margin-top: 5px;
    color: #666;
    font-size: 12px;

    * {
      margin-right: 5px;
      cursor: pointer;
    }
  }


  .moment-images {
    margin-top: 10px;



    .single-image {

      .react_lightgallery_item {
        width: 60%;

        .lazy-load-image-background {
          width: 100%;
          img {
            width: 100%;
            max-height: 360px;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }

    .multiple-images {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -10px;

      .react_lightgallery_item {
        background-color: #eee;
        width: calc(calc(100% - 20px) / 3);
        margin-bottom: 10px;
        margin-right: 10px;
        aspect-ratio: 1 / 1;

        &:nth-child(3n) {
          margin-right: 0;
        }

        .container {
          width: 100%;
          height: 100%;
          position: relative;

          .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
              position: absolute;
              cursor: pointer;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      @media screen and (max-width: 500px) {
        .react_lightgallery_item {
          width: calc(calc(100% - 10px) / 3);
          margin-bottom: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
