@import "../css/export";

nav {
  background-color: #fff;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;


  .menu-button {
    display: none;

    svg {
      cursor: pointer;
      height: 16px;
    }
  }

  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    //.portals {
    //  position: relative;
    //  margin-right: 20px;
    //
    //  svg {
    //    cursor: pointer;
    //    height: 16px;
    //  }
    //
    //  .portals-main {
    //    position: absolute;
    //    display: flex;
    //    flex-direction: column;
    //    width: 60px;
    //    align-items: center;
    //    background-color: #fff;
    //    padding: 10px;
    //    left: calc(-30px);
    //    top: calc(100% + 10px);
    //    border: 1px solid #888;
    //
    //    a {
    //      margin-bottom: 5px;
    //
    //      &:nth-last-child(1) {
    //        margin-bottom: 0;
    //      }
    //    }
    //  }
    //
    //  .dark-portals-main {
    //    background-color: #222;
    //  }
    //}

    .back-up-title {
      color: #000;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .nav-main {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }

      .nav-item {
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
      }

      .active-nav-item {
        border-bottom: 1px solid #000;
      }

      .back-up-search {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        font-size: 12px;
        margin-right: 20px;
        cursor: pointer;
        padding-bottom: 2px;
        width: fit-content;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #000;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .title {
        margin-right: 20px;
        font-size: 16px;
      }

      .nav-categories {
        position: relative;

        .btn {
          cursor: pointer;
        }

        .categories-main {
          position: absolute;
          visibility: hidden;
          padding: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          border-radius: 5px;

          .category-item {
            cursor: pointer;
            width: 100%;
          }
        }

        &:hover {
          .categories-main {
            visibility: visible;
          }
        }
      }
    }
  }

  .nav-portals {
    position: relative;
    margin-right: 20px;

    svg {
      cursor: pointer;
      height: 16px;
    }

    .portals-main {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 60px;
      align-items: center;
      background-color: #fff;
      padding: 16px 10px;
      left: calc(-30px);
      top: calc(100% + 10px);
      border: 1px solid #888;

      .link, a {
        cursor: pointer;
        margin-bottom: 8px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }

    .dark-portals-main {
      background-color: #222;
    }
  }

  .dark-mode {
    cursor: pointer;
    margin-right: 20px;

    svg {
      height: 16px;
    }
  }

  .search {
    //width: 16px;
    cursor: pointer;

    svg {
      height: 16px;
    }
  }
}

.dark-navbar {
  background-color: #222;

  .container {

    .back-up-title {
      color: $DARK-TEXT-COLOR;
    }

    .nav-main {
      a {
        text-decoration: none;
      }

      .active-nav-item {
        border-bottom: 1px solid $DARK-TEXT-COLOR;
      }

      .back-up-search {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        font-size: 12px;
        margin-right: 20px;
        cursor: pointer;
        padding-bottom: 2px;
        width: fit-content;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid $DARK-TEXT-COLOR;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      .title {
        margin-right: 20px;
        font-size: 16px;
      }

      .nav-categories {
        position: relative;

        .btn {
          cursor: pointer;
        }

        .categories-main {
          position: absolute;
          visibility: hidden;
          padding: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          border-radius: 5px;

          .category-item {
            cursor: pointer;
            width: 100%;
          }
        }

        &:hover {
          .categories-main {
            visibility: visible;
          }
        }
      }
    }
  }

  .nav-portals {

    .portals-main {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 60px;
      align-items: center;
      background-color: #fff;
      padding: 16px 10px;
      left: calc(-30px);
      top: calc(100% + 10px);
      border: 1px solid #888;

      .link, a {
        cursor: pointer;
        margin-bottom: 8px;
        text-decoration: none;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }

    .dark-portals-main {
      background-color: #222;
    }
  }
}

@media screen and (max-width: $THRESHOLD-CSS) {
  nav {
    padding: 20px;

    .menu-button {
      display: flex;
    }

    .container {
      .nav-main {
        position: absolute;
        background-color: #fff;
        border-bottom: 1px solid #888;
        width: calc(100% - 40px);
        height: fit-content;
        padding: 10px 20px 20px 20px;
        left: 0;
        top: 100%;

        .title {
          display: none;
        }

        .nav-items {
          display: flex;
          width: 100%;
          //border: 1px solid red;
          flex-direction: column;

          a {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .dark-navbar {

    .container {
      .nav-main {
        background-color: $DARK-BG;
        border-bottom: 1px solid #888;
        width: calc(100% - 40px);
        height: fit-content;
        padding: 10px 20px 20px 20px;
        left: 0;
        top: 100%;

        .title {
          display: none;
        }

        .nav-items {
          display: flex;
          width: 100%;
          //border: 1px solid red;
          flex-direction: column;

          a {
            margin-bottom: 10px;

            &:hover {
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}
