.moments {
  width: 100%;
  max-width: 900px;
  position: relative;
  //border: 1px solid blue;

  .moments-main {
    width: 600px;
  }


  .extra {
    position: fixed;
    top: 66px;
    width: 280px;
    //border: 1px solid red;
    transform: translateX(620px);
    color: #888;

    .tags {
      display: flex;
      flex-wrap: wrap;

      span {
        cursor: pointer;
      }
    }

    .link-to-feeling-lucky {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      margin-bottom: 20px;
      text-decoration: none;
      font-weight: bold;

      img {
        height: 100px;
        margin-bottom: 5px;
        transition: 0.38s;
      }

      .text {
        transition: 0.38s;
        //background: -webkit-linear-gradient(left, blue , green);
        //background: -o-linear-gradient(right, blue , green);
        //background: -moz-linear-gradient(right, blue , green);
        //background: linear-gradient(to right, blue , green);
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        font-weight: bold;
      }

      &:hover {
        img {
          height: 140px;
        }

        .text {
          background: -webkit-linear-gradient(left, red , yellow);
          background: -o-linear-gradient(right, red, yellow);
          background: -moz-linear-gradient(right, red, yellow);
          background: linear-gradient(to right, red , yellow);
          font-size: 20px;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .links {
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        color: #888;
        text-decoration: none;
        font-size: 10px;
      }
    }
  }
}

.moments-mobile {
  width: 100%;
  position: static;
  display: block;

  .moments-main {
    width: 100%;
  }
}
